{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

	<div class="fieldoverviewheader">
	<div class="container">
		<div class="row inline">	
			<div class="surveys col-sm-4">
			Roditelji
			
			</div>
			
			<div class="col-sm-4 width_search">
			<div class="search"> 
				<form id="search_form2" method="POST" action="{% url 'clients:show_parents' %}" role="form" >
				{% csrf_token %}
				<div><input type="txt" class="txtInput" name="parent_name" id="parent_name1" placeholder="PRETRAGA..."></div>
				</form>
				<div  class="searchicon" href="javascript:{}" onclick="document.getElementById('search_form2').submit(); return false;"></div>
			
			</div>
			

			<div class="advancesearch" id="advance_button">
				
					Napredni filter
			
			</div>
			</div>
			
			<div class="float_right">
			<div class="createnewfiled">Kreiraj roditelja
					<a href="{% url 'clients:create_parent' %}"></a>
			</div>
		</div>

	</div>

			<img src="{% static "images/home/header-item.png" %}" class="header-item">
			
	</div>
</div>
<div class="advance_search_content" id="advance_search">
	<div class="container">
		<div class="row row-centered">
			<form id="search_form" method="POST" action="{% url 'clients:show_parents' %}" role="form" >
			{% csrf_token %}
				<div>
					<div class="col-sm-6"> Ime
						{{form.first_name}}
					</div>
					<div class="col-sm-6"> Prezime
						{{form.last_name}}
					</div>
					<div class="col-sm-6"> JMBG
						{{form.jmbg}}
					</div>
					<div class="col-sm-6"> Adresa
						{{form.address}}
					</div>
				</div>
			</form>
			<div class="advance_choice col-sm-12 col-centered">
  				<div class="advance_close col-sm-4" id="close_advance">ZATVORI</div>
  				<div class="advance_reset col-sm-4" id="clear_advance_table">RESETUJ</div>
  				<div class="advance_result col-sm-4" href="javascript:{}" onclick="document.getElementById('search_form').submit(); return false;">REZULTAT
				 </div>
  			</div>

		</div>
	</div>
</div>

	<div class="container">
	<div class="row">
		<div class="analyze_header">
              <div class="header_green" id="field_overview">Pregled roditelja</div>
              <div class="header_angle"></div>
              <div class="header_navy">
              	<div class="table_pagination">
              	<div class="pagination_right"></div>
              	<div class="pagination_left"></div>
              	</div>
              </div>

            </div>

	<table id="table" border="1" width="100%" class="tablefieldoverview table table-striped table-bordered table-condensed table-hover tablesorter">
		<thead>
		<tr>
			<th width="15%"><strong>Ime</strong></th>
			<th width="15%"><strong>Prezime</strong></th>
			<th width="15%"><strong>Mobilni</strong></th>
			<th width="25%"><strong>Adresa</strong></th>
			<th width="16%"><strong>Detalji tabele</strong></th>
			<th width="7%"><strong>Izmeni</strong></th>
			<th width="7%"><strong>Obriši</strong></th>
		</tr>
		</thead>
		<tbody>
		{% for record in result_tables %}
		<tr>
			<td><center>{{record.first_name}}</center></td>
			<td>{{record.last_name}}</td>
			<td><center>{{record.mob_phone}}</center></td>
			<td>{{record.address}}</td>
			<td><div onclick="location.href='{% url 'clients:preview_parent' record.id %}';"class="preview"><b>Pregled</b></div></td>
			<td><div class="edit" onclick="location.href='{% url 'clients:edit_parent' record.id %}';"></div></td>
			<td><div class="xbutton"><a class='delete_parent_link' href="{% url 'clients:delete_parent' record.id %}"></a></div></td>
		</tr>
		{% endfor %}
		</tbody>
	</table>

</div>
</div>

<script  src="{% static "libs/jquery/jquery-2.2.3.js" %}"></script>
<script  src="{% static "libs/jquery/jquery.tablesorter.js" %}"></script>
<script src="{% static "clients/js/show_parents.js" %}"> </script>
<!-- Table sorter--> 
<script src="{% static "clients/js/table_sorter.js" %}"></script>
<script src="{% static "clients/js/advance_search.js" %}"></script>

{% endblock %}